## Settings file was created by plugin TargetPortalProtection v1.0.6
## Plugin GUID: radamanto.TargetPortalProtection

[01 - Geral]

## If true, the server locks synchronized configs.
# Setting type: Boolean
# Default value: true
LockConfiguration = true

[PortalProtection]

## Enables TargetPortal protection and terrain protection. [Synced with Server]
# Setting type: Boolean
# Default value: true
Enabled = true

## If true, admins bypass TargetPortal protection checks. [Synced with Server]
# Setting type: Boolean
# Default value: true
AdminBypass = true

## Radius around TargetPortals where terrain modification is blocked. [Synced with Server]
# Setting type: Single
# Default value: 10
TerrainProtectionRadius = 5

## If true, players in the same Groups group as the portal owner may modify protected Group portals and bypass terrain protection near them. [Synced with Server]
# Setting type: Boolean
# Default value: true
AllowGroupMembersAccess = true

## If true, players in the same Guild as the portal owner may modify protected Guild portals and bypass terrain protection near them. [Synced with Server]
# Setting type: Boolean
# Default value: true
AllowGuildMembersAccess = true

