Neck,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0,33,120,3000
Deer,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0.33,120,3000
Boar,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0.33,120,3000
Wolf,true,1800,600,1.4,15,30,10,RawMeat:NeckTail:FishRaw:DeerMeat:Sausages:LoxMeat:BjornMeat:HareMeat:FoxMeat_TW:BearSteak_TW,false,true,4,0.33,120,3000
Lox,true,1800,600,4,15,30,10,Barley:Cloudberry:Flax,false,true,4,0.33,240,6000,size=2
Bat,true,1800,600,1,15,30,10,Bloodbag:Entrails,false,true,6,0.33,120,3000
Serpent,true,1800,300,4,10,30,20,SerpentMeat:WolfMeat:BjornMeat:RawMeat:NeckTail:SerpentMeat:FishRaw:DeerMeat:Sausages:LoxMeat:HareMeat:FoxMeat_TW:BearSteak_TW,false,true,4,0.33,240,6000,size=2,egg=chicken(1200:#00FF00:0.3)
Bjorn,true,1800,600,1.4,15,30,10,RawMeat:FishRaw:Blueberries:Honey,false,true,4,0.33,120,4000

##Vanilla Default Values##
#	commandable:		Boar/Lox/Hen=false, Wolf=true
#	taming time:		1800 (seconds)
#	fed duration:		600 (seconds)
#	consume range:		Boar/Hen=1, Wolf=1.4, Lox=4 (units distance)
#	consumeSearchInterval:	10 (seconds)
#	consumeHeal:		N/A (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		many foods
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		Boar=5, Wolf/Lox=4, Hen=10 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	Boar/Wolf/Hen=60, Lox=120 (seconds)
#	growTime:			Boar/Wolf=3000, Lox=6000, Hen=1800 for Egg Hatch + 3000 for Chick to grow up (seconds)