Neck,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0,33,60,3000
Deer,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0.33,60,3000
Boar,true,1800,600,1,15,30,10,Raspberry:Blueberries:Carrot:Turnip:Mushroom:Onion:Cloudberry,false,true,5,0.33,60,3000
Wolf,true,1800,600,1.4,15,30,10,RawMeat:NeckTail:FishRaw:DeerMeat:Sausages:LoxMeat:BjornMeat:HareMeat:FoxMeat_TW:BearSteak_TW,false,true,4,0.33,120,3000
Lox,true,1800,600,4,15,30,10,Barley:Cloudberry:Flax,false,true,4,0.33,240,6000,size=2
Bat,true,1800,600,1,15,30,10,Bloodbag:Entrails,false,true,6,0.33,60,3000
Serpent,offspringName=Water_Hatchlings,true,1800,300,4,10,30,20,WolfMeat:BjornMeat:RawMeat:NeckTail:FishRaw:DeerMeat:Sausages:LoxMeat:HareMeat:FoxMeat_TW:BearSteak_TW,false,true,4,0.33,480,6000,size=3,egg=drake(1200:#00FF00:0.6)
BonemawSerpent,offspringName=Bone_Hatchlings,true,1800,300,4,10,30,20,WolfMeat:BjornMeat:RawMeat:NeckTail:FishRaw:DeerMeat:Sausages:LoxMeat:HareMeat:FoxMeat_TW:BearSteak_TW,false,true,4,0.33,600,6000,size=3,egg=drake(1200:#FFA500:0.6)
Tick,true,1800,600,1,15,30,10,Bloodbag,false,true,4,0,33,60,3000
Bjorn,true,1800,600,1.4,15,30,10,RawMeat:FishRaw:Blueberries:Honey,false,true,4,0.33,240,6000,size=2

##Vanilla Default Values##
#	commandable:		Boar/Lox/Hen=false, Wolf=true
#	taming time:		1800 (seconds)
#	fed duration:		600 (seconds)
#	consume range:		Boar/Hen=1, Wolf=1.4, Lox=4 (units distance)
#	consumeSearchInterval:	10 (seconds)
#	consumeHeal:		N/A (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		many foods
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		Boar=5, Wolf/Lox=4, Hen=10 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	Boar/Wolf/Hen=60, Lox=120 (seconds)
#	growTime:			Boar/Wolf=3000, Lox=6000, Hen=1800 for Egg Hatch + 3000 for Chick to grow up (seconds)

##NECK Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Raspberry, Blueberries, Carrot, Turnip, Mushroom, Onion, Cloudberry
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		5 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	60s (1 minute)
#	growTime:			3000s (1 hour)

##Deer Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Raspberry, Blueberries, Carrot, Turnip, Mushroom, Onion, Cloudberry
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		5 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	60s (1 minute)
#	growTime:			3000s (1 hour)

##BOAR Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1.4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Raspberry, Blueberries, Carrot, Turnip, Mushroom, Onion, Cloudberry
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		5 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	60s (1 minute)
#	growTime:			3000s (1 hour)

##WOLF Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1.4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		RawMeat:NeckTail, FishRaw, DeerMeat, Sausages, LoxMeat, BjornMeat, HareMeat, FoxMeat_TW, BearSteak_TW
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	120s (2 Min)
#	growTime:			3000s (1 hour)

##LOX Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Barley, Cloudberry, Flax
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	240s  (4 Min)
#	growTime:			6000s (2 hour)
# how far away it checks for other creatures:  2 (units distance) (Larger for larger animals, so 2 instead of default 1 for lox here. Default doesn't need to be added)

##BAT Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Bloodbag, Entrails
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		5 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	60s  (4 Min)
#	growTime:			6000s (2 hour)

##SERPENT Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		WolfMeat, BjornMeat, RawMeat, NeckTail, FishRaw, DeerMeat, Sausages, LoxMeat, HareMeat, FoxMeat_TW, BearSteak_TW
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	480s  (8 Min)
#	growTime:			6000s (2 hour)
# how far away it checks for other creatures:  3 (units distance) (Larger for larger animals)

##BONEMAW SERPENT Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		WolfMeat, BjornMeat, RawMeat, NeckTail, FishRaw, DeerMeat, Sausages, LoxMeat, HareMeat, FoxMeat_TW, BearSteak_TW
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	600s  (10 Min)
#	growTime:			6000s (2 hour)
# how far away it checks for other creatures:  3 (units distance) (Larger for larger animals)

##TICK Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		1 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		Bloodbag
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	60s  (4 Min)
#	growTime:			6000s (2 hour)

##BJORN Values##
#	commandable:		True
#	taming time:		1800s (30 min)
#	fed duration:		600s (10 min)
#	consume range:		4 (units distance)
#	consumeSearchInterval:	15s
#	consumeHeal:		30 (default heal over time, only used if enabled in config)
#	consumeSearchRange:	10 (units distance)
#	consumeItems:		RawMeat, FishRaw, Blueberries, Honey
#	changeFaction:		false
#	procretion:			true
#	maxCreatures:		4 (max creatures in area before unable to procreate)
#	pregnancyChance:	0.33 (out of 1, this is 33% chance)
#	pregnancyDuration:	240s  (4 Min)
#	growTime:			6000s (2 hour)
