## Settings file was created by plugin ServeYouRight v1.0.2
## Plugin GUID: sighsorry.ServeYouRight

[ServingTray - CookingAdditions (blacks7ar.CookingAdditions)]

## If on, 'CookingAdditions' Food items go to 'Food - CookingAdditions'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'CookingAdditions' Mead items go to 'Meads - CookingAdditions'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'CookingAdditions' Feast items go to 'Feasts - CookingAdditions'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = On

[ServingTray - MagicPlugin (blacks7ar.MagicPlugin)]

## If on, 'MagicPlugin' Food items go to 'Food - MagicPlugin'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'MagicPlugin' Mead items go to 'Meads - MagicPlugin'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'MagicPlugin' Feast items go to 'Feasts - MagicPlugin'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = Off

[ServingTray - Monstrum (Therzie.Monstrum)]

## If on, 'Monstrum' Food items go to 'Food - Monstrum'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'Monstrum' Mead items go to 'Meads - Monstrum'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'Monstrum' Feast items go to 'Feasts - Monstrum'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = Off

[ServingTray - MonstrumDeepNorth (Therzie.MonstrumDeepNorth)]

## If on, 'MonstrumDeepNorth' Food items go to 'Food - MonstrumDeepNorth'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'MonstrumDeepNorth' Mead items go to 'Meads - MonstrumDeepNorth'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'MonstrumDeepNorth' Feast items go to 'Feasts - MonstrumDeepNorth'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = Off

[ServingTray - WarfareFireAndIce (Therzie.WarfareFireAndIce)]

## If on, 'WarfareFireAndIce' Food items go to 'Food - WarfareFireAndIce'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'WarfareFireAndIce' Mead items go to 'Meads - WarfareFireAndIce'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'WarfareFireAndIce' Feast items go to 'Feasts - WarfareFireAndIce'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = Off

[ServingTray - Wizardry (Therzie.Wizardry)]

## If on, 'Wizardry' Food items go to 'Food - Wizardry'. If off, they merge into vanilla Food.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Food = Off

## If on, 'Wizardry' Mead items go to 'Meads - Wizardry'. If off, they merge into vanilla Meads.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Meads = Off

## If on, 'Wizardry' Feast items go to 'Feasts - Wizardry'. If off, they merge into vanilla Feasts.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Feasts = Off

