## Settings file was created by plugin Kill Me For My Power v2.3.1
## Plugin GUID: Turbero.KillMeForMyPower

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## Enabling/Disabling the debugging in the console (default = false) [Not Synced with Server]
# Setting type: Boolean
# Default value: false
DebugMode = false

## Adds boss power detection to identify if the player had used the power before installing the mod in a mid-play (default = false) [Synced with Server]
# Setting type: Boolean
# Default value: true
ActivateMidPlayDetection = true

## List of additional player names that can help admin servers to assign powers to other players or themselves using the mod commands. [Synced with Server]
# Setting type: String
# Default value: 
Power Commands Admin Players List = 

[2 - Config]

## Message to show when you cannot obtain the forsaken power [Synced with Server]
# Setting type: String
# Default value: Kill the forsaken first!
ForbiddenMessage = Kill the forsaken first!

## Allows nearby players to grant the boss kill (default = true) [Synced with Server]
# Setting type: Boolean
# Default value: true
GrantKillToNearbyPlayers = true

## Set up the effect when trying to access restricted items or dungeons (default = Lightning) [Synced with Server]
# Setting type: Effects
# Default value: Lightning
# Acceptable values: None, Burning, Frost, Lightning, Poison
Scare Effect = Lightning

## Duration in seconds of the scare effect (default = 3) [Synced with Server]
# Setting type: Int32
# Default value: 3
Scare Effect Duration = 3

## Minimum of players around an altar to spawn a boss, including yourself (default = 3) [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 50
Minimum Players Around - Amount = 1

## Range to detect minimum of players around an altar to spawn a boss, including yourself (default = 10) [Synced with Server]
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 100
Minimum Players Around - Range = 10

## Message to show when you cannot spawn the boss due to insufficient people around [Synced with Server]
# Setting type: String
# Default value: You need at least {0} people to spawn the boss!
Minimum Players Around - Forbidden Message = You need at least {0} people to spawn the boss!

VendorLocalRestrictions = true

VendorHaldorRestrictions = 

VendorHildirRestrictions = 

VendorBogWitchRestrictions = 

ForbiddenVendorMessage = You have not killed the required forsaken yet to buy my stuff!

RestrictUsingKeyItems = true

RestrictUsingKeyItemsMessage = You must kill {0} before doing that action!

[2.1 - Vendor Restrictions]

## Vendors allow buying items based on personal progress, not global (default = true) [Synced with Server]
# Setting type: Boolean
# Default value: true
VendorLocalRestrictions = true

## Boss to be killed before being able to talk to Haldor (default = Eikthyr). Set to 'None' to remove this restriction. Possible values: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader,None [Synced with Server]
# Setting type: BossNameEnum
# Default value: Eikthyr
# Acceptable values: Eikthyr, TheElder, Bonemass, Moder, Yagluth, Queen, Fader, None, SE_Boss_Gorr, SE_Boss_Brutalis, SE_Boss_StormHerald, SE_Boss_Sythrak
VendorHaldorBossToKill = Eikthyr

## Restricted items for Haldor split by comma and semicolon. Ex: BeltStrength,Eikthyr;YmirRemains,TheElder;Thunderstone,TheElder;ChickenEgg,Yagluth. Available boss names: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader (empty = nothing to restrict) [Synced with Server]
# Setting type: String
# Default value: BeltStrength,Eikthyr;YmirRemains,TheElder;Thunderstone,TheElder;ChickenEgg,Yagluth
VendorHaldorRestrictions = BeltStrength,Eikthyr;YmirRemains,TheElder;Thunderstone,TheElder;ChickenEgg,Yagluth

## Boss to be killed before being able to talk to Haldor (default = Eikthyr). Set to 'None' to remove this restriction. Possible values: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader,None [Synced with Server]
# Setting type: BossNameEnum
# Default value: Eikthyr
# Acceptable values: Eikthyr, TheElder, Bonemass, Moder, Yagluth, Queen, Fader, None, SE_Boss_Gorr, SE_Boss_Brutalis, SE_Boss_StormHerald, SE_Boss_Sythrak
VendorHildirBossToKill = Eikthyr

## Restricted items for Hildir split by comma and semicolon. Ex: Ironpit,Moder. Available boss names: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader (empty = nothing to restrict) [Synced with Server]
# Setting type: String
# Default value: 
VendorHildirRestrictions = 

## Boss to be killed before being able to talk to Haldor (default = TheElder). Set to 'None' to remove this restriction. Possible values: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader,None [Synced with Server]
# Setting type: BossNameEnum
# Default value: TheElder
# Acceptable values: Eikthyr, TheElder, Bonemass, Moder, Yagluth, Queen, Fader, None, SE_Boss_Gorr, SE_Boss_Brutalis, SE_Boss_StormHerald, SE_Boss_Sythrak
VendorBogWitchBossToKill = TheElder

## Restricted items for BogWitch split by comma. Ex: MeadTrollPheromones,TheElder;SpicePlains,Moder;SpiceAshlands,Queen. Available boss names: Eikthyr,TheElder,Bonemass,Moder,Yagluth,Queen,Fader (empty = nothing to restrict) [Synced with Server]
# Setting type: String
# Default value: 
VendorBogWitchRestrictions = 

## Message to show when you cannot buy from a NPC [Synced with Server]
# Setting type: String
# Default value: You have not killed {0} yet to buy my stuff!
ForbiddenVendorMessage = You have not killed {0} yet to buy my stuff!

[2.2 - Dungeon Restrictions]

## Restricts accessing dungeons to admins as any regular player. (default = false) [Synced with Server]
# Setting type: Boolean
# Default value: false
Restrict Entering Dungeons Before Killing Bosses Admins = false

## Restricts accessing dungeons in biomes if you haven't killed the boss of the previous biome. (default = true) [Synced with Server]
# Setting type: Boolean
# Default value: true
Restrict Entering Dungeons Before Killing Bosses = true

## Message to show the access restriction to dungeons if previous biome boss has not been defeated. [Synced with Server]
# Setting type: String
# Default value: You must defeat {0} to access this dungeon first!
Restrict Entering Dungeons Before Killing Bosses Message = You must defeat {0} to access this dungeon first!

## Blocks user the Queen room without killing her! (default = false) [Synced with Server]
# Setting type: Boolean
# Default value: true
Restrict Exiting Queen Dungeon If Alive or Alerted = true

[2.3 - Item Restrictions]

## Restricts using pickaxe antler, crypt key, wishbone and wisplight until you kill the previous boss even if you get them from someone else. (default = true) [Synced with Server]
# Setting type: Boolean
# Default value: true
RestrictUsingKeyItems = true

## Message to show when you cannot equip or do an action with an important progression item [Synced with Server]
# Setting type: String
# Default value: You must kill {0} before doing that action!
RestrictUsingKeyItemsMessage = You must kill {0} before doing that action!

## Message to show in item descriptions to know when you can start using them [Synced with Server]
# Setting type: String
# Default value: Available to use
ItemRestrictionAvailableTooltipMessage = Available to use

## Message to show in item descriptions confirming when you can use them [Synced with Server]
# Setting type: String
# Default value: YES
ItemRestrictionAvailableTooltipMessageYes = YES

## Message to show in item descriptions confirming when you cannot use them [Synced with Server]
# Setting type: String
# Default value: NO
ItemRestrictionAvailableTooltipMessageNo = NO

[2.4 - Boss drops rules]

## If not default, drops a number of boss items according to the selected rule [Synced with Server]
# Setting type: BossDropRule
# Default value: Default
# Acceptable values: Default, OnePlayer, DropsForEachPlayerNearby
Item drops = Default

## If not default, drops a number of trophies according to the selected rule [Synced with Server]
# Setting type: BossDropRule
# Default value: Default
# Acceptable values: Default, OnePlayer, DropsForEachPlayerNearby
Trophy drops = Default

[2.5 - EpicMMO integration]

## If true and epicMMO is enabled, the player needs to have the same level as the boss as minimum to spawn it (default = true) [Synced with Server]
# Setting type: Boolean
# Default value: true
Minimum level required = false

## Message to indicate the player doesn't have the minimum necessary level to spawn the boss [Synced with Server]
# Setting type: String
# Default value: You need at least level {0} to start this battle
Not minimum level message = You need at least level {0} to start this battle

[3 - Days]

## Minimum number of days until the Eikthyr power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossEikthyr = 100

## Minimum number of days until the Elder power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossElder = 200

## Minimum number of days until the Bonemass power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossBonemass = 300

## Minimum number of days until the Moder power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossModer = 400

## Minimum number of days until the Yagluth power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossYagluth = 550

## Minimum number of days until the Queen power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossQueen = 800

## Minimum number of days until the Fader power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossFader = 1000

## Minimum number of days until any modded boss power cannot be obtained without killing him (default = 10000) [Synced with Server]
# Setting type: Int32
# Default value: 100000
DaysBossModded = 100000

[4 - Max levels]

## Maximum skill level that player can level up skills before killing Eikthyr (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss1Eikthyr = 100

## Maximum skill level that player can level up skills before killing The Elder (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss2TheElder = 100

## Maximum skill level that player can level up skills before killing Bonemass (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss3Bonemass = 100

## Maximum skill level that player can level up skills before killing Moder (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss4Moder = 100

## Maximum skill level that player can level up skills before killing Yagluth (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss5Yagluth = 100

## Maximum skill level that player can level up skills before killing The Queen (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss6Queen = 100

## Maximum skill level that player can level up skills before killing Fader (default = 100) [Synced with Server]
# Setting type: Single
# Default value: 100
MaxLevelBeforeBoss7Fader = 100

[5 - Power Granted player lists]

## List of player names that can use Eikthyr power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 1 - Eikthyr power = New Adventure

## List of player names that can use The Elder power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 2 - The Elder power = 

## List of player names that can use Bonemass power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 3 - Bonemass power = 

## List of player names that can use Moder power after defeating her [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 4 - Moder power = 

## List of player names that can use Yagluth power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 5 - Yagluth power = 

## List of player names that can use Queen power after defeating her [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 6 - Queen power = 

## List of player names that can use Fader power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Boss 7 - Fader power = 

## List of player names that can use Gorr power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Therzie Boss - Gorr power = 

## List of player names that can use Brutalis power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Therzie Boss - Brutalis power = 

## List of player names that can use StormHerald power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Therzie Boss - StormHerald power = 

## List of player names that can use Sythrak power after defeating him [Synced with Server]
# Setting type: String
# Default value: 
Player List for Therzie Boss - Sythrak power = 

